.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */


!!!

!!!

!!!

!!!

!!!

!!!

!!!


@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  } 
}
!!!


/* Description*/















/* Description end */

/* Digits */













/* related to kaufman section, width and margin-top differ*/

 /* related to kaufman section*/

/* related to kaufman section*/



/* Digits end */

/* Feynman */











/* Feynman end */

/* Kaufman */



















/* Kaufman end */

/* Footer*/



















/* Footer end */